<configuration debug="true" packagingData="false">
	
	<!--Appender básico que usa un RollingFile-->
	<appender name="default"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<!-- Configuracion basica y nombre del archivo-->
		<file>./logs/logdnpp.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		
		<!-- Normas de como va a tratar el archivo-->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>./logs/PersonalLog.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		
		<!-- Condiciones para cambiar de archivo-->
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50KB</maxFileSize>
		</triggeringPolicy>
		
		<!-- Patrón básico -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%method] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- Appender personalizado con colores-->
	<appender name="PersonalLog" class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<!-- Layout personalizado-->
			<layout class="com.nttdata.logback.LoggerLayout">
				<prefix>NTTDataLogback</prefix>
				<printThreadName>true</printThreadName>
			</layout>
			<charset>utf-8</charset>
		</encoder>
	</appender>
	
	
	<!-- Logger personalizado, distinto a Root-->
	<logger name="Warrior" level="debug">
		<appender-ref ref="PersonalLog"/>
		<appender-ref ref="default" />
	</logger>
</configuration>